/* == Fonts == */
$font-highlight:							"Baumans", serif;
$font-heading:								"Raleway", sans-serif;
$font-general:								"Crimson Text", serif;
$font-code:										"Inconsolata", "monospace";
$font-weight:									400;
$font-weight-heading:					600;

/* == Font Size Breakpoints == */
$font-mq-base:								42em;
$font-mq-step:								2em;
$font-base:										1em;
$font-step:										1em/16em;

/* == Line Heights == */
$line-height:									1.2;

/* == Colours == */
$colour-background: 					#ffffff;
$colour-emphasis: 						#000000;
$colour-foreground: 					lighten($colour-emphasis, 15%);
$colour-shadow: 							rgba($colour-emphasis, 0.5);
$colour-general:							#888888;
$colour-general-light:				lighten($colour-general, 40%);
$colour-general-dark:					darken($colour-general, 30%);
$colour-highlight:						#e60000;
$colour-select-light:					rgba($colour-background, 0.2);
$colour-select-dark: 					rgba($colour-emphasis, 0.1);
$colour-select-highlight: 		rgba($colour-highlight, 0.5);

/* == Transitions == */
$transition-nav:							.3s ease-in-out;
$transition-normal:						.2s ease-out;

/* == Breakpoints == */
$one-column:									"max-width: 32.5em";
$breakpoint-regular:					"min-width: 40em";

/* == Navigation == */
$sub-navigation-width:				7.5rem;
$gutter-navigation-width:			2rem;
$navigation-width:						$sub-navigation-width + $gutter-navigation-width;

/*

    padding: top right bottom left
    
    &lsquo; = Opening Single Quote
    &ldquo; = Opening Double Quote
    &rsquo; = Closing Single Quote
    &rdquo; = CLosing Double Quote

*/